<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820700892196-3r1malgetssbj0po1sc2v5flncvn5hd6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820700892196-3r1malgetssbj0po1sc2v5flncvn5hd6</string>
	<key>API_KEY</key>
	<string>AIzaSyDq9ZyKKrfsAQPLXMX3W7uHs8kxrGdfJCg</string>
	<key>GCM_SENDER_ID</key>
	<string>820700892196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omerKilicaslan.Custom-Login-Register-Firebase</string>
	<key>PROJECT_ID</key>
	<string>loginandsignup-3ea4b</string>
	<key>STORAGE_BUCKET</key>
	<string>loginandsignup-3ea4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820700892196:ios:1a9d06bd3aee08640b5cb1</string>
</dict>
</plist>